<section id="home" class="hero-section d-flex align-items-center">
  <div
    class="position-absolute top-0 start-0 w-100 h-100 opacity-50 z-1 hero-layer"
  ></div>
  <div class="container position-relative z-2">
    <div class="row">
      <div
        class="text-center hero-content"
        style="max-width: 500px; margin: 0 auto"
      >
        <h1 class="text-white h1 fs-1">About Us</h1>
        <h2 class="text-white h2">
          Dive into WaveX and transform your fitness today!
        </h2>
      </div>
    </div>
  </div>
  <div class="wave-background"></div>

  <div class="social-media position-absolute">
    <div class="facebook social-icon">
      <i class="fa-brands fa-facebook-f"></i>
    </div>
    <div class="insta social-icon">
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="twitter social-icon">
      <i class="fa-brands fa-x-twitter"></i>
    </div>
  </div>
</section>

<section class="py-5 about-section">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-12">
        <div class="about-box text-center p-lg-4">
          <div class="mb-3 d-flex justify-content-center gap-2">
            <svg
              width="20"
              height="28"
              viewBox="0 0 32 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mt-2"
            >
              <path
                d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                fill="rgba(69, 129, 139, 1)"
              />
            </svg>
            <h2 class="fw-bold mb-4">What is Wavex .. ?</h2>
          </div>

          <p class="mb-4 about-section-description">
            WaveX is a high intensity, low impact workout performed on a
            specialised floating platform, challenging your balance, strength
            and endurance like never before. The unstable surface amplifies
            every movement, engaging your core and stabilizer muscles for a
            full-body burn.
          </p>
          <div
            class="d-flex justify-content-center align-items-start gap-5 flex-wrap mt-4 about-section-features"
          >
            <div
              class="d-flex align-items-start justify-content-center gap-2"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <svg
                viewBox="0 0 32 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mt-1 what-is-wavex-icon"
              >
                <path
                  d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                  fill="rgba(36, 113, 125, 0.39)"
                />
              </svg>
              <span>Next Level Core Activation</span>
            </div>
            <div
              class="d-flex align-items-start justify-content-center gap-2"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <svg
                viewBox="0 0 32 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mt-1 what-is-wavex-icon"
              >
                <path
                  d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                  fill="rgba(36, 113, 125, 0.39)"
                />
              </svg>
              <span>Low impact, High efficiency</span>
            </div>
            <div
              class="d-flex align-items-start justify-content-center gap-2"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <svg
                viewBox="0 0 32 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mt-1 what-is-wavex-icon"
              >
                <path
                  d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                  fill="rgba(36, 113, 125, 0.39)"
                />
              </svg>
              <span>Fun & Dynamic</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-md-6 mb-4 mb-md-0 d-flex justify-content-center"
        data-aos="fade-right"
      >
        <img
          src="images/wavex-2.png"
          alt="Wavex Objectives"
          class="img-fluid rounded objective-image"
        />
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <div class="mb-4 d-flex gap-2">
          <svg
            width="24"
            height="32"
            viewBox="0 0 32 42"
            fill="none"
            class="mt-1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
              fill="rgba(69, 129, 139, 1)"
            />
          </svg>
          <h2 class="h2 fw-bold objectives-title">Objectives</h2>
        </div>
        <ul class="list-unstyled mt-4 objectives-list">
          <li class="d-flex align-items-start gap-2 mb-3">
            <svg
              viewBox="0 0 32 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mt-1 objective-icon"
            >
              <path
                d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                fill="rgba(36, 113, 125, 0.39)"
              />
            </svg>
            <span>
              Revolutionize Aquatic Fitness To introduce a dynamic, engaging,
              and effective workout experience that transforms traditional pool
              spaces into fitness hubs using floating mattress technology.
            </span>
          </li>
          <li class="d-flex align-items-start gap-2 mb-3">
            <svg
              viewBox="0 0 32 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mt-1 objective-icon"
            >
              <path
                d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                fill="rgba(36, 113, 125, 0.39)"
              />
            </svg>
            <span>
              Promote Wellness Through Innovation To encourage physical and
              mental well-being by offering low-impact, high-engagement workouts
              suitable for all ages and fitness levels.
            </span>
          </li>
          <li class="d-flex align-items-start gap-2 mb-3">
            <svg
              viewBox="0 0 32 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mt-1 objective-icon"
            >
              <path
                d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                fill="rgba(36, 113, 125, 0.39)"
              />
            </svg>
            <span>
              Build a Community Around Movement To create a supportive, fun, and
              inclusive fitness community that connects people through shared
              experiences on water.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Wave Divider -->
<div class="" data-aos="fade-up" data-aos-delay="200">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 120">
    <path
      d="M0,60 C400,20 800,100 1200,60 C1600,20 2000,100 2400,60 L2400,120 L0,120 Z	"
      fill="#337B8A"
    />
  </svg>
</div>

<section class="py-5">
  <div class="container">
    <h2
      class="text-center fw-bold mb-5 what-drives-us-title"
      data-aos="fade-up"
    >
      What Drives Us
    </h2>
    <div class="row justify-content-center g-4">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="p-4 h-100 text-center what-drives-us-box">
          <div
            class="mb-2 d-flex justify-content-center align-items-center gap-2"
          >
            <svg
              width="28"
              height="32"
              viewBox="0 0 32 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                fill="rgba(69, 129, 139, 1)"
              />
            </svg>
            <span class="fw-bold what-drives-us-box-title">Our Vision</span>
          </div>
          <p class="mt-3 mb-0 what-drives-us-box-description">
            To become the leading provider of innovative aquatic fitness
            experiences by making water-based training more accessible,
            effective, and enjoyable. We aim to inspire people of all ages and
            fitness levels to move with confidence, connect through community,
            and discover new possibilities for health and performance both on
            and off the water.
          </p>
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="p-4 h-100 text-center what-drives-us-box">
          <div
            class="mb-2 d-flex justify-content-center align-items-center gap-2"
          >
            <svg
              width="28"
              height="32"
              viewBox="0 0 32 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M32 28.875C32 36.1237 24.8366 42 16 42C7.16344 42 0 36.1237 0 28.875C0 21.6263 12.16 0 16 0C19.84 0 32 21.6263 32 28.875Z"
                fill="rgba(69, 129, 139, 1)"
              />
            </svg>
            <span class="fw-bold what-drives-us-box-title">Our Mission</span>
          </div>
          <p class="mt-3 mb-0 what-drives-us-box-description">
            At WaveX Sport, our mission is to deliver a fun, transformative, and
            inclusive workout experience through water-based fitness. We aim to
            empower individuals of all fitness levels to improve their strength,
            balance, and overall wellness by introducing unique, floating-mat
            exercises that challenge the body and energize the mind.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wave Divider -->
<div class="" data-aos="fade-up" data-aos-delay="200">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 120">
    <path
      d="M0,60 C400,20 800,100 1200,60 C1600,20 2000,100 2400,60 L2400,120 L0,120 Z	"
      fill="#337B8A"
    />
  </svg>
</div>

<section class="py-5">
  <div class="container">
    <div class="mx-auto p-4 history-box" data-aos="fade-up">
      <h2 class="fw-bold text-center mb-3 history-box-title">History ... !</h2>
      <p class="text-center mb-0 history-box-description">
        The concept of performing structured fitness workouts on water
        originated in the early 2010s, with the fusion of stand-up
        paddleboarding (SUP) and traditional studio workouts like yoga, Pilates,
        and core training. Initially popularized along coastal wellness retreats
        in California and Australia, this innovative form of exercise quickly
        evolved into a structured sport.
      </p>
    </div>
  </div>
</section>

<!-- Image Gallery Section -->
<section class="py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-12">
        <div class="row g-3">
          <div
            class="col-md-6 image-gallery-item-1"
            data-aos="zoom-in-up"
            data-aos-delay="100"
          >
            <img
              src="/images/wavex-1.png"
              alt="Water Fitness 1"
              class="img-fluid rounded-3 shadow w-100"
            />
          </div>
          <div
            class="col-md-6 image-gallery-item-2"
            data-aos="zoom-in-up"
            data-aos-delay="200"
          >
            <img
              src="/images/wavex-66.jpg"
              alt="Water Fitness 2"
              class="img-fluid rounded-3 shadow w-100"
            />
          </div>
        </div>
      </div>
      <div
        class="col-12 image-gallery-item-3"
        data-aos="zoom-in-up"
        data-aos-delay="300"
      >
        <img
          src="/images/wavex-3.png"
          alt="Water Fitness Main"
          class="img-fluid rounded-3 shadow w-100"
        />
      </div>
    </div>
  </div>
</section>
